<nb-card>
  <nb-card-header>Elimina Alerts</nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="alerts && alerts.length>0">
      <ng2-smart-table [settings]="settings"
                       [source]="alerts"
                       (deleteConfirm)="onDeleteConfirm($event)"
                       (delete)="deleteAlert($event)"
      ></ng2-smart-table>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="close()">Chiudi</button>
  </nb-card-footer>
</nb-card>
