<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Storico ricerche</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie *ngIf="legend.length>0 && data.length>0" [legend]="legend" [data]="data"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <ngx-smart-table></ngx-smart-table>
  </div>
  <div class="col-lg-6">
    <iframe width="538" height="491" src="https://cybermap.kaspersky.com/it/widget/dynamic/dark" frameborder="0">
    </iframe>
  </div>
</div>
